# Java build files
/target/
/*.class
*.jar.original

# IDE files
/.classpath
/.project
/.settings/
/.factorypath

# Maven Wrapper
/.mvn/

# OS files
.DS_Store
Thumbs.db

# JSON credentials
*.json

# Logs
*.log



application.properties

